@media (min-width: 600px){
        body {
                background-color: aqua;
        }
}

@media (max-width:  599px) {
        body {
                background-color: blue;
        }
}

.container{
        height: 100vh;
        width: 100%;
}

h1{
        position: absolute;
        margin-left: 36%;
        margin-top: 2%;
        color: black;
        font-size: 35px;
        font-weight: bold;
}

.PD{
        position: absolute;
        margin-left: 36%;
        margin-top: 7%;
}

#firstn{
        margin-left: 2%;
        position: absolute;
        width: 200px;
}

#middlen{
        margin-left: 2%;
        position: absolute;
        width: 182px;
}

#lastn{
        margin-left: 2%;
        position: absolute;
        width: 200px;
}

#phone{
        margin-left: 2%;
        position: absolute;
        width: 180px;
}

#mail{
        margin-left: 2%;
        position: absolute;
        width: 210px;
}

h2{
        position: absolute;
        margin-left: 30%;
        margin-top: 25%;
        color: black;
        font-size: 35px;
        font-weight: bold;
}

.PI{
        position: absolute;
        margin-left: 40%;
        margin-top: 29%;
}

#M{
        margin-left: 55%;
        position: absolute;
}

#F{
        margin-left: 55%;
        position: absolute;
}

#R{
        font-family: sans-serif;
        font-size: 1.0em;
        width: 300px;
        height: 40px;
        position: absolute;
}

.btn{
        border: 2px solid black;
        font-weight: bold;
        width: auto;
}

#firstn:hover, #middlen:hover, #lastn:hover, #phone:hover, #mail:hover, #R:hover, .btn:hover  {
        border: 3px solid orange;
        cursor: pointer;
        transition: 1s all;
}
